.arrow {
  position: relative;
  text-align: center;
  top: -150px;
  z-index: 99;
  width: 481px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    width: 80.16vw;
    top: -25vw;
  }

  &__text {
    position: absolute;
    top: 2%;
    left: 14%;
    line-height: 1;
    font-family: $yumin;
    font-size: 3.6rem;
    font-weight: $extrabold;
    color: $white;
    text-shadow: 3px 3px #070701;

    @media screen and (max-width: 600px) {
      font-size: 6vw;
    }
  }

  &__text-big {
    font-family: $yumin;
    font-size: 6.3rem;
    font-weight: $extrabold;
    color: #FFFFD2;

    @media screen and (max-width: 600px) {
      font-size: 10.50vw;
    }
  }

  img {
    width: 100%;
  }

  &--circle {
    top: 0;

    .arrow__text {
      top: 11%;
      font-size: 3.4rem;
      left: 1%;

      @media screen and (max-width: 600px) {
        font-size: 5.66vw;
      }
    }

    .arrow__text-big {
      font-size: 5.5rem;

      @media screen and (max-width: 600px) {
        font-size: 9.16vw;
      }
    }
  }
}