.circle {
  background-image: linear-gradient(to right, #421314, #6F4B26 20% , #B1954F, #FDF0C5 , #FDF0C5, #B19469, #A38358, #8D5429, #8D5429 );
  // background: url(../image/gradient.png) no-repeat;
  // background-position: center;
  // background-size: contain;
  width: 100%;
  width: 100%;
  margin-top: -5px;
  padding-bottom: 15px;

  @media screen and (max-width: 600px) {
    margin-top: -0.83vw;
    padding-bottom: 2.50vw;
  }

  &__list {
    margin-top: -10px;

    @media screen and (max-width: 600px) {
      margin-top: -4.66vw;
    }
  }

  &__item {
    margin: 0 auto;
    // border-radius: 50%;
    // background: $white;
    height: 465px;
    width: 465px;
    background: url(../image/sparkle-right.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: -50px;
    position: relative;
    z-index: 1;

    &--left {
      background: url(../image/sparkle-left.png) no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--last {
      background: url(../image/sparkle-last.png) no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media screen and (max-width: 600px) {
      height: 77.50vw;
      width: 77.50vw;
      margin-top: -8.33vw;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    width: 100%;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 600px) {
      padding-top: 10.5vw;
    }
  }

  &__title {
    font-family: $noto-serif;
    font-weight: $bold;
    font-size: 2.4rem;
    margin-left: 16px;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
      margin-left: 2.66vw;
    }
  }

  &__box {
    border: 1px solid #231815;
    height: 177.63px;
    width: 177.63px;
    margin: 10px 0 25px;

    @media screen and (max-width: 600px) {
      height: 29.60vw;
      width: 29.60vw;
      margin: 1.66vw 0 4.16vw;
    }
  }

  &__description {
    font-family: $noto;
    font-weight: $bold;
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    width: 266px;

    @media screen and (max-width: 600px) {
      font-size: 2.33vw;
      width: 44.33vw;
    }
  }

  &__sparkle {
    position: absolute;
    z-index: -1;
    width: 147.84px;
    height: 169.44px;

    img {
      width: 100%;
    }

    // &::after {
    //   content: " ";
    //   width: 147.84px;
    //   height: 169.44px;
    //   background: url(../image/sparkle-light.png);
    //   top: -35px;
    //   right: 6px;
    //   position: absolute;
    //   display: inline-block;
    //   z-index: -1;
    // }
  }
}