.crown {
	bottom: 20px;
	position: absolute;
	width: 100%;
	z-index: 99;
	top: 48%;

	@media screen and (max-width: 600px) {
		bottom: 3.33vw;
	}

	&__list {
		display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 78%;
    width: 100%;
	}

	&__item {
    background: url(../image/ranking-crown.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
		width: 138.82px;
    height: 85.4px;

		@media screen and (max-width: 600px) {
			width: 23.13vw;
    	height: 14.23vw;
		}
	}

	&__number {
		font-family: $yumin;
		font-size: 3.5rem;
		font-weight: $extrabold;
		margin-top: 30px;
    line-height: 1;

		@media screen and (max-width: 600px) {
			font-size: 5.83vw;
			margin-top: 5vw;
		}
	}

	&__percentage {
		font-size: 1.3rem;

		@media screen and (max-width: 600px) {
			font-size: 2.16vw;
		}
	}

	&__ribbon-text {
		font-family: $yumin;
		font-size: 1.4rem;
		font-weight: $demibold;
		color: $white;
		line-height: 1;

		@media screen and (max-width: 600px) {
			font-size: 2.33vw;
		}
	}
}