.faq {
  background-color: #FFFFD2;
  padding: 25px 25px 40px;

  @media screen and (max-width: 600px) {
    padding: 4.16vw 4.16vw 6.66vw;
  }

  &__title-container {
    width: 252.24px;
    height: 76.52px;
    background-color: #6A3906;
    margin: 0 auto;
    border-radius: 50%;

    @media screen and (max-width: 600px) {
      width: 42.04vw;
      height: 12.75vw;
    }
  }

  &__title {
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 3.1rem;
    color: white;
    text-align: center;
    padding-top: 17px;

    @media screen and (max-width: 600px) {
      font-size: 4.8vw;
      padding-top: 3vw;
    }
  }

  &__list {
    padding-top: 20px;

    @media screen and (max-width: 600px) {
      padding-top: 3.33vw;
    }

    @media screen and (max-width: 375px) {
      padding: 3.33vw 10px;
    }
  }

  &__item {
    background: url(../image/brace.svg) no-repeat;
    background-position: right;
    background-size: contain;
    width: 544.25px;
    height: 156.41px;
    padding: 20px 40px;
    margin-bottom: 7px;

    @media screen and (max-width: 600px) {
      width: 90.70vw;
      height: 26.06vw;
      padding: 3.33vw 6.66vw;
      margin-bottom: 1.16vw;
    }

    @media screen and (max-width: 375px) {
      width: 90.7vw;
      margin-left: -13px;
      height: 26.06vw;
      padding: 1.33vw 6.66vw;
    }
  }

  &__item-title {
    display: flex;
    align-items: center;
  }

  &__item-title-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 1.8rem;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding-top: 10px;

    @media screen and (max-width: 600px) {
      font-size: 2.50vw;
      padding-top: 1.66vw;
    }
  }

  &__play-btn {
    padding-right: 7px;
    width: 29px;
    height: 29px;

    @media screen and (max-width: 600px) {
      font-size: 1.16vw;
      width: 4.83vw;
      height: 4.83vw;
    }

    @media screen and (max-width: 375px) {
      width: 6.83vw;
      height: 6.83vw;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}