.sns {
  background-image: linear-gradient(to right, #421314, #6F4B26 20% , #B1954F, #FDF0C5 , #FDF0C5, #B19469, #A38358, #8D5429, #8D5429 );
  width: 100%;
  width: 100%;
  padding: 15px;

  @media screen and (max-width: 600px) {
    padding: 2.50vw;
  }

  @media screen and (max-width: 375px) {
    padding-bottom: 0;
  }

  .arrow__text-big {
    font-size: 4.7rem;

    @media screen and (max-width: 600px) {
      font-size: 8.16vw;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 5px;
    padding: 20px 50px;

    @media screen and (max-width: 600px) {
      grid-gap: 4.16vw 0.83vw;
      padding: 4.33vw 8.33vw 7vw;
    }
  }

  &__item {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 236.25px;
    height: 252.24px;

    @media screen and (max-width: 600px) {
      width: 39.37vw;
      height: 42.04vw;
    }
  }

  img {
    width: 100%;
  }

  &__text {
    font-family: $noto-serif;
    font-weight: $medium;
    font-size: 2.2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }
}