.campaign.campaign--with-arrow
  .campaign__item-ribbon
    .campaign__ribbon
      p.campaign__ribbon-text.js-curved-heading お客様満足度お客
    
    .campaign__col
      .campaign__col1
        p.campaign__black-title efs黒酢
        .campaign__img-holder
          img.banner__img-box(src="assets/image/banner-box.png")
      
      .campaign__col2
        p.campaign__quantity 内容量 ○○○○○○
        p.campaign__arrowdown 通常価格 0,000円▼

        p.campaign__red-text 特別価格

        p.campaign__red-text.campaign__red-text--relative 0,000
          span.campaign__yen 円
          span.campaign__small-text (税込)
        
        button.campaign__yellow-btn 送料無料
    
    button.campaign__green-btn 
      .campaign__cart-img
        img(src="assets/image/cart-icon.svg")
      span カートに入れる
  
  .campaign__item
    .campaign__col
      .campaign__col1
        
        .campaign__img-holder
          img.banner__img-box(src="assets/image/banner-box.png")
      
      .campaign__col2
        p.campaign__black-title efs黒酢
        p.campaign__quantity 内容量 ○○○○○○

        p.campaign__red-box 送料無料

        p.campaign__red-text.campaign__red-text--relative 0,000
          span.campaign__yen 円
          span.campaign__small-text (税込)
            
    button.campaign__green-btn 
      .campaign__cart-img
        img(src="assets/image/cart-icon.svg")
      span カートに入れる
  
.arrow
  img(src="assets/image/brown-arrow-down.svg")
  p.arrow__text こんな 
    span.arrow__text-big “お悩み”
    br
    | 抱えていませんか？