.circle
  .arrow.arrow--circle
    img(src="assets/image/brown-arrow-down.svg")
    p.arrow__text こんなに 
      span.arrow__text-big “違います！”
      br
      | 願いを叶えるefs黒酢。
  
  ul.circle__list
    li.circle__item
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです

    
    li.circle__item.circle__item--left
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item.circle__item--left
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item.circle__item--last
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
