.crown
  ul.crown__list
    li.crown__item
      p.crown__number 97.5
        span.crown__percentage %
      p.crown__ribbon-text 続けやすさ
    
    li.crown__item
      p.crown__number 100
        span.crown__percentage %
      p.crown__ribbon-text おすすめ度
    
    li.crown__item
      p.crown__number 98.2
        span.crown__percentage %
      p.crown__ribbon-text お客様満足度