doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title Index
  body
    include components/header.pug

    main
      .max-width
        include components/banner.pug
        include components/campaign-with-arrow.pug
        include components/survey.pug
        include components/circle.pug
        include components/campaign.pug
        include components/customer-voice.pug
        include components/video.pug
        include components/sns.pug
        include components/faq.pug
        include components/pr.pug
        include components/campaign-last.pug

    .max-width
      include components/footer.pug
  
    script(src="assets/js/circletype.min.js")
    script(src="assets/js/main.js")

