
<section class="banner">
  <div class="banner__container"><img class="banner__container-bg" src="assets/image/banner.png"/>
    <div class="banner__logo">LOGO</div>
    <div class="banner__circle">
      <p>材料に<br/>使用している<br/>素材画像</p>
    </div>
    <div class="banner__box"><img class="banner__product" src="assets/image/banner-box.png" alt="product"/></div>
    <p class="banner__text-big">からだにいいこと <br/>はじめましょう。</p>
    <p class="banner__text-small">おいしいけど<br/>○○が気になる。<br/>そんな方のために<br/>○○○○と○○○○○を<br/>考えて作りました。</p>
    <div class="crown">
      <ul class="crown__list">
        <li class="crown__item">
          <p class="crown__number">97.5<span class="crown__percentage">%</span></p>
          <p class="crown__ribbon-text">続けやすさ</p>
        </li>
        <li class="crown__item">
          <p class="crown__number">100<span class="crown__percentage">%</span></p>
          <p class="crown__ribbon-text">おすすめ度</p>
        </li>
        <li class="crown__item">
          <p class="crown__number">98.2<span class="crown__percentage">%</span></p>
          <p class="crown__ribbon-text">お客様満足度</p>
        </li>
      </ul>
    </div>
  </div>
</section>