
<div class="campaign campaign--with-arrow">
  <div class="campaign__item-ribbon">
    <div class="campaign__ribbon">
      <p class="campaign__ribbon-text js-curved-heading">お客様満足度お客</p>
    </div>
    <div class="campaign__col">
      <div class="campaign__col1">
        <p class="campaign__black-title">efs黒酢</p>
        <div class="campaign__img-holder"><img class="banner__img-box" src="assets/image/banner-box.png"/></div>
      </div>
      <div class="campaign__col2">
        <p class="campaign__quantity">内容量 ○○○○○○</p>
        <p class="campaign__arrowdown">通常価格 0,000円▼</p>
        <p class="campaign__red-text">特別価格</p>
        <p class="campaign__red-text campaign__red-text--relative">0,000<span class="campaign__yen">円</span><span class="campaign__small-text">(税込)</span></p>
        <button class="campaign__yellow-btn">送料無料</button>
      </div>
    </div>
    <button class="campaign__green-btn"> 
      <div class="campaign__cart-img"><img src="assets/image/cart-icon.svg"/></div><span>カートに入れる</span>
    </button>
  </div>
  <div class="campaign__item">
    <div class="campaign__col">
      <div class="campaign__col1">
        <div class="campaign__img-holder"><img class="banner__img-box" src="assets/image/banner-box.png"/></div>
      </div>
      <div class="campaign__col2">
        <p class="campaign__black-title">efs黒酢</p>
        <p class="campaign__quantity">内容量 ○○○○○○</p>
        <p class="campaign__red-box">送料無料</p>
        <p class="campaign__red-text campaign__red-text--relative">0,000<span class="campaign__yen">円</span><span class="campaign__small-text">(税込)</span></p>
      </div>
    </div>
    <button class="campaign__green-btn"> 
      <div class="campaign__cart-img"><img src="assets/image/cart-icon.svg"/></div><span>カートに入れる</span>
    </button>
  </div>
</div>
<div class="arrow"><img src="assets/image/brown-arrow-down.svg"/>
  <p class="arrow__text">こんな <span class="arrow__text-big">“お悩み”</span><br/>抱えていませんか？</p>
</div>