
<div class="customer-voice">
  <div class="arrow arrow--circle"><img src="assets/image/arrow-bg-small.svg"/>
    <p class="arrow__text"> <span class="arrow__text-big">お客様の声</span></p>
  </div>
  <div class="customer-voice__bulleted">
    <div class="customer-voice__img"></div>
  </div>
  <ul class="customer-voice__list">
    <li class="customer-voice__item">
      <p class="customer-voice__text">ここにお客様の声が入ります。<br/>文章はダミーです。</p>
    </li>
    <li class="customer-voice__item">
      <p class="customer-voice__text">ここにお客様の声が入ります。<br/>文章はダミーです。</p>
    </li>
    <li class="customer-voice__item">
      <p class="customer-voice__text">ここにお客様の声が入ります。<br/>文章はダミーです。</p>
    </li>
    <li class="customer-voice__item">
      <p class="customer-voice__text">ここにお客様の声が入ります。<br/>文章はダミーです。</p>
    </li>
    <li class="customer-voice__item">
      <p class="customer-voice__text">ここにお客様の声が入ります。<br/>文章はダミーです。</p>
    </li>
  </ul>
</div>