
<div class="faq">
  <div class="faq__title-container">
    <p class="faq__title">よくあるご質問</p>
  </div>
  <ul class="faq__list">
    <li class="faq__item">
      <div class="faq__item-title">
        <div class="faq__play-btn"><img src="assets/image/play-btn.svg"/></div>
        <p class="faq__item-title-text">質問タイトル。○○○○○○○○○○○○。</p>
      </div>
      <p class="faq__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○</p>
    </li>
    <li class="faq__item">
      <div class="faq__item-title">
        <div class="faq__play-btn"><img src="assets/image/play-btn.svg"/></div>
        <p class="faq__item-title-text">質問タイトル。○○○○○○○○○○○○。</p>
      </div>
      <p class="faq__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○</p>
    </li>
    <li class="faq__item">
      <div class="faq__item-title">
        <div class="faq__play-btn"><img src="assets/image/play-btn.svg"/></div>
        <p class="faq__item-title-text">質問タイトル。○○○○○○○○○○○○。</p>
      </div>
      <p class="faq__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○</p>
    </li>
    <li class="faq__item">
      <div class="faq__item-title">
        <div class="faq__play-btn"><img src="assets/image/play-btn.svg"/></div>
        <p class="faq__item-title-text">質問タイトル。○○○○○○○○○○○○。</p>
      </div>
      <p class="faq__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○</p>
    </li>
    <li class="faq__item">
      <div class="faq__item-title">
        <div class="faq__play-btn"><img src="assets/image/play-btn.svg"/></div>
        <p class="faq__item-title-text">質問タイトル。○○○○○○○○○○○○。</p>
      </div>
      <p class="faq__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○</p>
    </li>
  </ul>
</div>