
<div class="pr">
  <div class="pr__container"><img src="assets/image/pr-img.png"/>
    <div class="pr__content">
      <div class="pr__col1">
        <p class="pr__title">会社PR欄</p>
        <div class="pr__white-box"></div>
      </div>
      <div class="pr__col2">
        <p class="pr__col-text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </div>
  </div>
</div>