
<div class="sns">
  <div class="arrow arrow--circle"><img src="assets/image/brown-arrow-down.svg"/>
    <p class="arrow__text"> <span class="arrow__text-big">SNS</span>でも<span class="arrow__text-big">「efs黒酢」</span>を<span class="arrow__text-big">大絶賛！</span></p>
  </div>
  <ul class="sns__list">
    <li class="sns__item">
      <div class="sns__img"><img src="assets/image/sns-box.svg"/></div>
    </li>
    <li class="sns__item">
      <div class="sns__img"><img src="assets/image/sns-box.svg"/></div>
    </li>
    <li class="sns__item">
      <div class="sns__img"><img src="assets/image/sns-box.svg"/></div>
    </li>
    <li class="sns__item">
      <div class="sns__img"><img src="assets/image/sns-box.svg"/></div>
    </li>
    <li class="sns__item">
      <div class="sns__img"><img src="assets/image/sns-box.svg"/></div>
    </li>
    <li class="sns__item">
      <p class="sns__text">他にも多くの方々に<br/>喜ばれています。</p>
    </li>
  </ul>
</div>