
<div class="survey">
  <ul class="survey__list">
    <li class="survey__item">
      <p class="survey__text">お悩み内容○○○○○<br/>○○○○○</p>
    </li>
    <li class="survey__item survey__item--reverse">
      <p class="survey__text">お悩み内容○○○○○<br/>○○○○○</p>
    </li>
    <li class="survey__item">
      <p class="survey__text">お悩み内容○○○○○<br/>○○○○○</p>
    </li>
    <li class="survey__item survey__item--reverse">
      <p class="survey__text">お悩み内容○○○○○<br/>○○○○○</p>
    </li>
    <li class="survey__item">
      <p class="survey__text">お悩み内容○○○○○<br/>○○○○○</p>
    </li>
  </ul>
</div>