
<section class="video-section">
  <div class="video-section__wrapper">
    <div class="heading">
      <h2 class="heading__text heading__text--with-subheading">動画でご紹介タイトル<br/><span class="heading__subheading">自信を持っておすすめします。まずはお試しください！</span></h2>
    </div>
  </div>
</section>