
<div class="video">
  <div class="video__yellow-ribbon"><img src="assets/image/yellow-ribbon.svg"/>
    <p class="video__yellow-ribbon-text">動画でご紹介タイトル</p>
  </div>
  <p class="video__text">自信を持っておすすめします。<br/>まずはお試しください！</p>
  <div class="video__img"><img src="assets/image/video-img.png"/></div>
</div>