@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  color: #1b1311;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1.6vw;
  }
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.banner {
  position: relative;
  text-align: center;
}
.banner__container-bg {
  width: 100%;
}
.banner__logo {
  position: absolute;
  width: 100%;
  top: 2%;
  text-align: center;
  color: #fff;
  font-size: 2.1rem;
}
@media screen and (max-width: 600px) {
  .banner__logo {
    font-size: 3.5vw;
  }
}
.banner__box {
  position: absolute;
  top: 3%;
  left: 37%;
  width: 168.24px;
  height: 229.2px;
  margin-top: 125px;
}
@media screen and (max-width: 600px) {
  .banner__box {
    width: 28.04vw;
    height: 38.2vw;
    margin-top: 20.83vw;
  }
}
.banner__product {
  width: 100%;
}
.banner__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146.42px;
  height: 146.42px;
  border-radius: 50%;
  font-size: 1.4rem;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #6A3906;
  position: absolute;
  top: 42%;
  left: 16%;
}
@media screen and (max-width: 600px) {
  .banner__circle {
    width: 24.4vw;
    height: 24.4vw;
    font-size: 2.33vw;
  }
}
.banner__text-big {
  position: absolute;
  top: 35%;
  left: 65%;
  line-height: 1.3;
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 900;
}
@media screen and (max-width: 600px) {
  .banner__text-big {
    font-size: 3.66vw;
  }
}
.banner__text-small {
  position: absolute;
  top: 50%;
  left: 65%;
  line-height: 1.3;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .banner__text-small {
    font-size: 2.66vw;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba(7, 3, 4, 0.3);
}
@media screen and (max-width: 600px) {
  .header {
    height: 14.1vw;
  }
}
.header__text {
  font-weight: 500;
  font-size: 2rem;
  padding: 0 55px;
}
@media screen and (max-width: 600px) {
  .header__text {
    font-size: 3.3vw;
    padding: 0 9.1vw;
  }
}
@media screen and (min-width: 768px) {
  .header__text {
    margin: 0 auto;
    max-width: 800px;
  }
}

.crown {
  bottom: 20px;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 48%;
}
@media screen and (max-width: 600px) {
  .crown {
    bottom: 3.33vw;
  }
}
.crown__list {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 78%;
  width: 100%;
}
.crown__item {
  background: url(../image/ranking-crown.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  width: 138.82px;
  height: 85.4px;
}
@media screen and (max-width: 600px) {
  .crown__item {
    width: 23.13vw;
    height: 14.23vw;
  }
}
.crown__number {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 30px;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .crown__number {
    font-size: 5.83vw;
    margin-top: 5vw;
  }
}
.crown__percentage {
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .crown__percentage {
    font-size: 2.16vw;
  }
}
.crown__ribbon-text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .crown__ribbon-text {
    font-size: 2.33vw;
  }
}

.campaign {
  background-image: linear-gradient(to right, #421314, #6F4B26 20%, #B1954F, #FDF0C5, #FDF0C5, #B19469, #A38358, #8D5429, #8D5429);
  width: 100%;
  width: 100%;
  padding: 50px 0;
  margin-top: -5px;
}
@media screen and (max-width: 600px) {
  .campaign {
    margin-top: -0.83vw;
    padding: 7.33vw 0;
  }
}
.campaign__item-ribbon {
  background: url(../image/campaign-background.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 409.77px;
  height: 360.61px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 600px) {
  .campaign__item-ribbon {
    width: 68.29vw;
    height: 60.1vw;
  }
}
.campaign__ribbon {
  background: url(../image/campaign-ribbon.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 465px;
  height: 88.8px;
  left: -6%;
  top: 3%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .campaign__ribbon {
    width: 77.5vw;
    height: 14.8vw;
  }
}
.campaign__ribbon-text {
  font-size: 4rem;
  font-weight: 700;
}
.campaign__col {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  width: 276px;
  top: 23%;
  left: 15%;
  position: absolute;
}
@media screen and (max-width: 600px) {
  .campaign__col {
    width: 46vw;
  }
}
.campaign__col2 {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
@media screen and (max-width: 600px) {
  .campaign__col2 {
    padding-top: 3vw;
  }
}
.campaign__black-title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 3.4rem;
}
@media screen and (max-width: 600px) {
  .campaign__black-title {
    font-size: 5.66vw;
  }
}
.campaign__img-holder {
  width: 113px;
  height: 154px;
  margin-top: -8px;
}
@media screen and (max-width: 600px) {
  .campaign__img-holder {
    width: 18.83vw;
    height: 25.66vw;
    margin-top: -1.33vw;
  }
}
.campaign__img-holder img {
  width: 100%;
}
.campaign__quantity {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 8px;
  margin-left: 22px;
}
@media screen and (max-width: 600px) {
  .campaign__quantity {
    font-size: 2.33vw;
    margin-bottom: 1.33vw;
    margin-left: 3.66vw;
  }
}
.campaign__arrowdown {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: 8px;
  margin-bottom: 7px;
}
@media screen and (max-width: 600px) {
  .campaign__arrowdown {
    font-size: 2.66vw;
    margin-left: 1.33vw;
    margin-bottom: 1.16vw;
  }
}
.campaign__red-text {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 4rem;
  color: #E60012;
  margin-bottom: 7px;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .campaign__red-text {
    font-size: 6.66vw;
    margin-bottom: 1.16vw;
  }
}
.campaign__red-text--relative {
  position: relative;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__red-text--relative {
    margin-bottom: 0.83vw;
  }
}
.campaign__yen {
  font-size: 2.7rem;
}
@media screen and (max-width: 600px) {
  .campaign__yen {
    font-size: 4.5vw;
  }
}
.campaign__small-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  left: 82%;
  color: #000;
}
@media screen and (max-width: 600px) {
  .campaign__small-text {
    font-size: 1.66vw;
  }
}
.campaign__yellow-btn {
  background-image: linear-gradient(to right, #FCF9D0 50%, #F7F085 100%);
  width: 100%;
  height: 26.74px;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2.3rem;
  color: #E60012;
  line-height: 1;
  border: 1px solid #e60012;
  border-radius: 25px;
  margin-top: -5px;
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__yellow-btn {
    height: 4.6vw;
    font-size: 3.83vw;
    margin-bottom: 1.16vw;
    border-radius: 4.16vw;
    margin-top: -0.83vw;
    margin-left: 0.83vw;
  }
}
.campaign__green-btn {
  background: url(../image/campaign-green-btn.svg) no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 2.3rem;
  color: #fff;
  line-height: 1;
  width: 273.25px;
  height: 42px;
  position: absolute;
  bottom: 18px;
  left: 72px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .campaign__green-btn {
    font-size: 3.83vw;
    width: 45.54vw;
    height: 7vw;
    bottom: 3vw;
    left: 12vw;
  }
}
.campaign__cart-img {
  height: 40px;
  width: 50px;
}
@media screen and (max-width: 600px) {
  .campaign__cart-img {
    height: 6.66vw;
    width: 8.33vw;
  }
}
.campaign__cart-img img {
  width: 100%;
}
.campaign__item {
  background: url(../image/campaign-bg-small.svg) no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  margin-top: 45px;
  height: 300px;
  width: 410px;
}
@media screen and (max-width: 600px) {
  .campaign__item {
    margin-top: 7.5vw;
    height: 50vw;
    width: 68.33vw;
  }
}
.campaign__item .campaign__col {
  top: 10%;
  width: 288px;
}
@media screen and (max-width: 600px) {
  .campaign__item .campaign__col {
    width: 48vw;
  }
}
.campaign__item .campaign__img-holder {
  width: 131.52px;
  height: 154px;
  margin-top: -3px;
  margin-left: -8px;
}
@media screen and (max-width: 600px) {
  .campaign__item .campaign__img-holder {
    width: 21.92vw;
    height: 25.66vw;
    margin-top: -0.5vw;
    margin-left: -1.33vw;
  }
}
.campaign__item .campaign__col2 {
  padding-top: 0;
}
.campaign__item .campaign__black-title {
  margin-left: -4px;
}
@media screen and (max-width: 600px) {
  .campaign__item .campaign__black-title {
    margin-left: -0.66vw;
  }
}
.campaign__item .campaign__quantity {
  margin-left: -2px;
}
@media screen and (max-width: 600px) {
  .campaign__item .campaign__quantity {
    margin-left: -0.33vw;
  }
}
.campaign__item .campaign__green-btn {
  width: 295.26px;
  left: 62px;
  bottom: 35px;
}
@media screen and (max-width: 600px) {
  .campaign__item .campaign__green-btn {
    width: 49.21vw;
    left: 10.33vw;
    bottom: 5.83vw;
  }
}
.campaign__red-box {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: #E60012;
  width: 159.46px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .campaign__red-box {
    font-size: 5vw;
    width: 26.57vw;
    margin-bottom: 1.66vw;
  }
}
.campaign--with-arrow {
  padding-bottom: 200px;
}
@media screen and (max-width: 600px) {
  .campaign--with-arrow {
    padding-bottom: 31.16vw;
  }
}
.campaign--last {
  margin: 0;
  padding: 73.98px 0 48px;
}
@media screen and (max-width: 600px) {
  .campaign--last {
    padding: 12vw 0 8vw;
  }
}

.arrow {
  position: relative;
  text-align: center;
  top: -150px;
  z-index: 99;
  width: 481px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .arrow {
    width: 80.16vw;
    top: -25vw;
  }
}
.arrow__text {
  position: absolute;
  top: 2%;
  left: 14%;
  line-height: 1;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 3.6rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 3px 3px #070701;
}
@media screen and (max-width: 600px) {
  .arrow__text {
    font-size: 6vw;
  }
}
.arrow__text-big {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 6.3rem;
  font-weight: 900;
  color: #FFFFD2;
}
@media screen and (max-width: 600px) {
  .arrow__text-big {
    font-size: 10.5vw;
  }
}
.arrow img {
  width: 100%;
}
.arrow--circle {
  top: 0;
}
.arrow--circle .arrow__text {
  top: 11%;
  font-size: 3.4rem;
  left: 1%;
}
@media screen and (max-width: 600px) {
  .arrow--circle .arrow__text {
    font-size: 5.66vw;
  }
}
.arrow--circle .arrow__text-big {
  font-size: 5.5rem;
}
@media screen and (max-width: 600px) {
  .arrow--circle .arrow__text-big {
    font-size: 9.16vw;
  }
}

.survey {
  margin-top: -205px;
}
@media screen and (max-width: 600px) {
  .survey {
    margin-top: -34.2vw;
  }
}
.survey__item {
  display: flex;
  flex-direction: row-reverse;
  background: #fff url(../image/right-img.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 35px 27px;
  height: 321.5px;
  border-bottom: 3px solid #40220F;
}
@media screen and (max-width: 600px) {
  .survey__item {
    height: 52vw;
    padding: 3.83vw 4.5vw 4.83vw;
  }
  .survey__item:first-child {
    height: 54vw;
    padding: 5.83vw 4.5vw;
  }
}
.survey__item--reverse {
  background: #fff url(../image/left-img.png) no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: row;
  padding: 25px 27px;
}
@media screen and (max-width: 600px) {
  .survey__item--reverse {
    padding: 3.83vw 4.5vw;
  }
}
.survey__text {
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 2.4rem;
}
@media screen and (max-width: 600px) {
  .survey__text {
    font-size: 4vw;
  }
}

.circle {
  background-image: linear-gradient(to right, #421314, #6F4B26 20%, #B1954F, #FDF0C5, #FDF0C5, #B19469, #A38358, #8D5429, #8D5429);
  width: 100%;
  width: 100%;
  margin-top: -5px;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .circle {
    margin-top: -0.83vw;
    padding-bottom: 2.5vw;
  }
}
.circle__list {
  margin-top: -10px;
}
@media screen and (max-width: 600px) {
  .circle__list {
    margin-top: -4.66vw;
  }
}
.circle__item {
  margin: 0 auto;
  height: 465px;
  width: 465px;
  background: url(../image/sparkle-right.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
.circle__item--left {
  background: url(../image/sparkle-left.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.circle__item--last {
  background: url(../image/sparkle-last.png) no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .circle__item {
    height: 77.5vw;
    width: 77.5vw;
    margin-top: -8.33vw;
  }
}
.circle__item:first-child {
  margin-top: 0;
}
.circle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .circle__content {
    padding-top: 10.5vw;
  }
}
.circle__title {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin-left: 16px;
}
@media screen and (max-width: 600px) {
  .circle__title {
    font-size: 4vw;
    margin-left: 2.66vw;
  }
}
.circle__box {
  border: 1px solid #231815;
  height: 177.63px;
  width: 177.63px;
  margin: 10px 0 25px;
}
@media screen and (max-width: 600px) {
  .circle__box {
    height: 29.6vw;
    width: 29.6vw;
    margin: 1.66vw 0 4.16vw;
  }
}
.circle__description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  width: 266px;
}
@media screen and (max-width: 600px) {
  .circle__description {
    font-size: 2.33vw;
    width: 44.33vw;
  }
}
.circle__sparkle {
  position: absolute;
  z-index: -1;
  width: 147.84px;
  height: 169.44px;
}
.circle__sparkle img {
  width: 100%;
}

.customer-voice {
  background-color: #FFFFD2;
  padding: 28px 0 28px;
}
@media screen and (max-width: 600px) {
  .customer-voice {
    padding: 4.66vw 0 1vw;
  }
}
.customer-voice .arrow__text {
  left: 23%;
}
.customer-voice .arrow__text-big {
  font-size: 6rem;
}
@media screen and (max-width: 600px) {
  .customer-voice .arrow__text-big {
    font-size: 10vw;
  }
}
.customer-voice__bulleted {
  width: 260px;
  height: 485px;
  background: url(../image/bulleted.svg) no-repeat;
  background-position: right;
  background-size: cover;
  margin-top: -10px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .customer-voice__bulleted {
    width: 43.33vw;
    height: 80.83vw;
    margin-top: -1.66vw;
  }
}
.customer-voice__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .customer-voice__text {
    font-size: 3.33vw;
  }
}
.customer-voice__list {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 6px;
}
@media screen and (max-width: 600px) {
  .customer-voice__list {
    margin-top: 3.33vw;
    margin-left: 1vw;
  }
}
.customer-voice__item {
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .customer-voice__item {
    margin-bottom: 5vw;
  }
}
.customer-voice__item:nth-child(4) {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .customer-voice__item:nth-child(4) {
    margin-bottom: 6.66vw;
  }
}

.video {
  background-image: linear-gradient(to right, #421314, #6F4B26 20%, #B1954F, #FDF0C5, #FDF0C5, #B19469, #A38358, #8D5429, #8D5429);
  width: 100%;
  width: 100%;
  padding: 40px 0;
}
@media screen and (max-width: 600px) {
  .video {
    padding: 6.66vw 0;
  }
}
.video__yellow-ribbon {
  position: relative;
  text-align: center;
  width: 503px;
  height: 84.76px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .video__yellow-ribbon {
    width: 83.83vw;
    height: 14.11vw;
  }
}
.video__yellow-ribbon img {
  width: 100%;
}
.video__yellow-ribbon-text {
  position: absolute;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 3.4rem;
  top: 13%;
  left: 18%;
}
@media screen and (max-width: 600px) {
  .video__yellow-ribbon-text {
    font-size: 5.66vw;
  }
}
.video__text {
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: -14px;
}
@media screen and (max-width: 600px) {
  .video__text {
    font-size: 3.66vw;
    margin-top: -2.33vw;
  }
}
.video__img {
  width: 507px;
  margin: 0 auto;
  padding-top: 9px;
}
@media screen and (max-width: 600px) {
  .video__img {
    width: 84.5vw;
    padding-top: 1.5vw;
  }
}
.video img {
  width: 100%;
}

.sns {
  background-image: linear-gradient(to right, #421314, #6F4B26 20%, #B1954F, #FDF0C5, #FDF0C5, #B19469, #A38358, #8D5429, #8D5429);
  width: 100%;
  width: 100%;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  .sns {
    padding: 2.5vw;
  }
}
@media screen and (max-width: 375px) {
  .sns {
    padding-bottom: 0;
  }
}
.sns .arrow__text-big {
  font-size: 4.7rem;
}
@media screen and (max-width: 600px) {
  .sns .arrow__text-big {
    font-size: 8.16vw;
  }
}
.sns__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px 5px;
  padding: 20px 50px;
}
@media screen and (max-width: 600px) {
  .sns__list {
    grid-gap: 4.16vw 0.83vw;
    padding: 4.33vw 8.33vw 7vw;
  }
}
.sns__item {
  align-items: center;
  justify-content: center;
  display: flex;
}
.sns__img {
  width: 236.25px;
  height: 252.24px;
}
@media screen and (max-width: 600px) {
  .sns__img {
    width: 39.37vw;
    height: 42.04vw;
  }
}
.sns img {
  width: 100%;
}
.sns__text {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 2.2rem;
}
@media screen and (max-width: 600px) {
  .sns__text {
    font-size: 3.66vw;
  }
}

.faq {
  background-color: #FFFFD2;
  padding: 25px 25px 40px;
}
@media screen and (max-width: 600px) {
  .faq {
    padding: 4.16vw 4.16vw 6.66vw;
  }
}
.faq__title-container {
  width: 252.24px;
  height: 76.52px;
  background-color: #6A3906;
  margin: 0 auto;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .faq__title-container {
    width: 42.04vw;
    height: 12.75vw;
  }
}
.faq__title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 3.1rem;
  color: white;
  text-align: center;
  padding-top: 17px;
}
@media screen and (max-width: 600px) {
  .faq__title {
    font-size: 4.8vw;
    padding-top: 3vw;
  }
}
.faq__list {
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  .faq__list {
    padding-top: 3.33vw;
  }
}
@media screen and (max-width: 375px) {
  .faq__list {
    padding: 3.33vw 10px;
  }
}
.faq__item {
  background: url(../image/brace.svg) no-repeat;
  background-position: right;
  background-size: contain;
  width: 544.25px;
  height: 156.41px;
  padding: 20px 40px;
  margin-bottom: 7px;
}
@media screen and (max-width: 600px) {
  .faq__item {
    width: 90.7vw;
    height: 26.06vw;
    padding: 3.33vw 6.66vw;
    margin-bottom: 1.16vw;
  }
}
@media screen and (max-width: 375px) {
  .faq__item {
    width: 90.7vw;
    margin-left: -13px;
    height: 26.06vw;
    padding: 1.33vw 6.66vw;
  }
}
.faq__item-title {
  display: flex;
  align-items: center;
}
.faq__item-title-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}
@media screen and (max-width: 600px) {
  .faq__item-title-text {
    font-size: 3vw;
  }
}
.faq__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding-top: 10px;
}
@media screen and (max-width: 600px) {
  .faq__text {
    font-size: 2.5vw;
    padding-top: 1.66vw;
  }
}
.faq__play-btn {
  padding-right: 7px;
  width: 29px;
  height: 29px;
}
@media screen and (max-width: 600px) {
  .faq__play-btn {
    font-size: 1.16vw;
    width: 4.83vw;
    height: 4.83vw;
  }
}
@media screen and (max-width: 375px) {
  .faq__play-btn {
    width: 6.83vw;
    height: 6.83vw;
  }
}
.faq__play-btn img {
  width: 100%;
  height: 100%;
}

.pr {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .pr {
    padding-bottom: 6.66vw;
  }
}
@media screen and (max-width: 375px) {
  .pr {
    padding-bottom: 3.66vw;
  }
}
.pr__container {
  width: 467.55px;
  height: 459.53px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .pr__container {
    width: 77.92vw;
    height: 76.58vw;
  }
}
.pr__container img {
  width: 100%;
}
.pr__content {
  display: flex;
  position: absolute;
  top: 19%;
  padding: 30px 19px;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .pr__content {
    padding: 5vw 3.16vw;
  }
}
.pr__title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 3.1rem;
  text-align: left;
  padding-bottom: 8px;
}
@media screen and (max-width: 600px) {
  .pr__title {
    font-size: 5.16vw;
    padding-bottom: 1.33vw;
  }
}
.pr__white-box {
  width: 188.78px;
  height: 226.03px;
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  .pr__white-box {
    width: 31.46vw;
    height: 37.67vw;
  }
}
.pr__col-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .pr__col-text {
    font-size: 2.33vw;
  }
}
.pr__col2 {
  padding: 0 15px;
  width: 235px;
}
@media screen and (max-width: 600px) {
  .pr__col2 {
    padding: 0 2.5vw;
    width: 39.16vw;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40220F;
  height: 56px;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 9.3vw;
  }
}
.footer__copyright {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 2.3vw;
  }
}

.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;
}
@media screen and (max-width: 600px) {
  .p-lr-5 {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 3.3vw;
  }
}
